// default fonts
$default-font-family: 'Ubuntu', sans-serif;
$default-font-size: 16px;
$default-font-weight: 400;

// default sizes
$default-min-width: 320px;

// default colors
$default-bg-color: #fff;
$default-color: #828282;

// default link styles
$link-font-family: 'Montserrat, sans-serif';
$link-font-size: 17px;
$link-font-weight: 700;
$link-color: #2cc7c1;

// default header styles
$header-font-family: 'Montserrat, sans-serif';
