@import "partials/mixins";
@import "partials/params";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    background-color: $default-bg-color;
    color: $default-color;
    min-width: $default-min-width;
}

a {
    font-family: $link-font-family;
    font-size: $link-font-size;
    font-weight: $link-font-weight;
    color: $link-color;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $header-font-family;
    text-transform: uppercase;   
}

h2 {
    font-size: 30px;
}

section {position: relative;}

.btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-family: $button-font-family;
    font-size: 17px;
    color: $button-color;
    border: none;
    text-transform: uppercase;
    transition: all .5s;
}

.btn-primary {
    background-color: #7ea4e8;
    &:hover {
        color:  $button-color;
        background-color: #6787c2;
    }
}

.btn-default {
    background-color: #6a7079;
    &:hover {
        color:$button-color;
        background-color: #474c52;
    }
}

