@import "partials/mixins";
@import "partials/params";

#speakers {
    padding-top: 60px;
    border-bottom: 2px solid #f0f0f0;

    & p.large {
        margin-bottom: 20px; 
        color: #828689;
        font-size: 20px;
    }

    & .left-block {
        & h2 {
            margin-bottom: 20px;
            color: #828689;
        }
    }

    & .right-block {
        border: 3px solid #ececec;
        border-radius: 2px;

        & .tab-content {
            padding: 25px 20px;

            & ul {
                padding-left: 10px;
                & li {
                    line-height: 30px;
                    & i {
                        margin-right: 10px;
                        font-size: 14px;
                        color: $link-color;
                    }
                }
            }
        }

        & .nav-tabs {
            & a {text-transform: uppercase;} 

            & li {
                background-color:  #ececec;
                & a {
                    font-family: $default-font-family;
                    font-size: 18px;
                    font-weight: 700;
                    color: #abbaba;
                    border: none;
                    border-radius: 0;
                }    
                &.active a{
                    color: #9097a1;
                }
            }
        }
    }

    & .speakers-header {
        margin-top: 100px;
        margin-bottom: 60px;

        & h2 {
            color: #6a7079;
        }
    }

    & .speakers-list {
        & h3 {
            margin: 10px 0;
            font-family: $default-font-family;
            font-weight: 500;
            color: #777a7d;
            font-size: 20px;
        }
    }

    & .speakers-footer {
        margin-bottom: 70px;
    }

    & .item div {
        position: relative;
        &:hover {
            & h3 {color: #6bd8d3;}
        }
        & .front-image {
            position: absolute;
            height: 140px;
            width: 140px;
            cursor: pointer;
            &:hover {
                opacity: 0.2; 
            }
            
        }
        & .back-image {
            display: inline-block;
            height: 140px;
            width: 140px;
            border-radius: 50%;
            background-color: #6bd8d3;
            & i {
                line-height: 140px;
                font-size: 40px;
                color: #fff;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        & .speakers-header, .speakers-footer {margin: 40px 0;}
        & .left-block {margin-bottom: 40px;}
    }    

    @media only screen and (max-width: 768px) {
        & .item {
            margin-bottom: 50px;
        }
    }    
}